body {
    font-family: "Courier New", Courier, monospace;
    background-color: #0D1B2A; /* fundo escuro parecido com app */
    color: #FFFFFF;
    padding: 10px;
  }
  .separator {
    border-bottom: 1px solid #444;
    margin: 6px 0;
  }
  .item {
    margin: 2px 0;
  }
  /* indentação por GRAU */
  .nivel-0 { margin-left: 0px; font-size: 12.5px; color: #E040FB; } /* magenta */
  .nivel-1 { margin-left: 20px; font-size: 11px; }
  .nivel-2 { margin-left: 40px; font-size: 11px; }
  .nivel-3 { margin-left: 60px; font-size: 11px; }
  .nivel-4 { margin-left: 100px; font-size: 11px; }
  .nivel-5 { margin-left: 140px; font-size: 11px; }
  .nivel-6 { margin-left: 180px; font-size: 11px; }

  /* cores de acesso */
  .acesso-C { color: #00E676; } /* verde */
  .acesso-N { color: #FF3D00; } /* vermelho */
